# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/

# ---- files ----
patch_emb_playing.py

# ---- Virtual env ----
venv/
.env/

# ---- PyTorch ----
*.pt
*.pth
*.ckpt

# ---- Datasets ----
data/
datasets/

# ---- Logs / outputs ----
runs/
logs/
outputs/
checkpoints/

# ---- OS / editor ----
.DS_Store
Thumbs.db
.vscode/
.idea/
